<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link href="/css/manager.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>관리자 페이지</h1>
    </header>

    <main>
        <section>
            <h2>사용자 데이터</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>상태</th>
                            <th>이름</th>
                            <th>은행명</th>
                            <th>계좌번호</th>
                            <th>카카오페이</th>
                            <th>전화번호</th>
                            <th>수정</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user, iterStat : ${userList}">
                            <td th:text="${iterStat.index + 1}">1</td>
                            <td
                                th:text="${user.role == 0 ? '신랑' : (user.role == 1 ? '신부' : (user.role == 3 ? '혼주' : '기타'))}">
                            </td>
                            <td th:text="${user.name}">황민</td>
                            <td><input type="text" th:value="${user.bank}" class="bank"></td>
                            <td><input type="text" th:value="${user.account}" class="account"></td>
                            <td><input type="text" th:value="${user.kakao}" name="kakao" class="kakao" /></td>
                            <td><input type="text" th:value="${#strings.substring(user.phone, 4)}" name="phone"
                                    class="phone" /></td>
                            <td><button type="button" class="edit-button" th:data-id="${user.id}">수정</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <div id="spinners"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script th:src="@{/js/spinner.js}"></script>
    <script th:src="@{/js/manager.js}"></script>
</body>

</html>