<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 페이지</title>
    <link href="/css/home.css" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        <button class="grid-item" onclick="navigateTo('/family')">가족설정</button>
        <button class="grid-item" onclick="navigateTo('/gb')">방명록 설정</button>
        <button class="grid-item" onclick="navigateTo('/ptMain')" th:if="${user.role == 0}">배경화면 설정</button>
        <button class="grid-item" onclick="navigateTo('/ptGallery')" th:if="${user.role == 0}">갤러리 설정</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/home.js}"></script>
</body>

</html>