<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은솔 ♥️ 민 결혼식에 초대합니다</title>
    <meta property="og:title" content="은솔 ♥️ 민 결혼식에 초대합니다">
    <meta property="og:description" content="2025.11.08 토요일 오후 1시">
    <meta property="og:image" content="https://eungming.com/img/1234.JPG">
    <meta property="og:url" content="https://eungming.com/">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
    <div class="background-image"></div>
    <div class="overlay-content">
        <div class="header">
            <span class="text-large bold-text">LEE EUNSOL</span>
            <span class="text-large">HWANG MIN</span>
        </div>
        <div class="footer">
            <div class="text-large">2025.11.08. SAT 13:00</div>
            <div class="text-large">정동제일교회 본당</div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/index.js}"></script>
</html>
