<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>은솔 ♥️ 민 결혼식에 초대합니다</title>
    <meta property="og:title" content="은솔 ♥️ 민 결혼식에 초대합니다">
    <meta property="og:description" content="2025.11.08 토요일 오후 1시">
    <meta property="og:image" content="https://eungming.com/img/1234.JPG">
    <meta property="og:url" content="https://eungming.com/">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div id="spinners"></div>
    <div class="container">
        <div class="background-image" th:style="'background-image: url(' + ${bgImg.url} + ');'"></div>
        <div class="overlay-content">
            <div class="header">
                <span class="text-large bold-text">LEE EUNSOL</span>
                <span class="text-large bold-text">HWANG MIN</span>
            </div>
            <div class="footer">
                <div class="text-large bold-text">2025.11.08. SAT 13:00</div><br>
                <div class="text-large bold-text">정동제일교회 본당</div>
            </div>
        </div>
    </div>
    <div class="section s2">
        <p class="title">Invitation</p><br><br>
        <img src="/img/leftQuotes.png" alt="Left Quotes" class="quote">
        <span class="text"> 저희 이벤트에 초대합니다<br>즐거운 저녁을 함께하세요.<br>여러분을 뵙기를 기대합니다! </span>
        <img src="/img/rightQuotes.png" alt="Right Quotes" class="quote">
        <div class="separator">-</div>
        <span class="text">황현기 · 박인숙</span> 의 아들 <span class="text">황민<br>이완규 · 홍순자</span> 의 딸 <span
            class="text">이은솔</span>
    </div>
    <div class="section s3">
        <div class="countdown-container">
            <h2 class="countdown-title">Save the Date</h2><br>
            <div class="countdown-timer">
                <div class="time-block">
                    <span class="time-number" id="days">0</span>
                    <span class="time-label">DAYS</span>
                </div>
                <span class="time-separator">:</span>
                <div class="time-block">
                    <span class="time-number" id="hours">0</span>
                    <span class="time-label">HOURS</span>
                </div>
                <span class="time-separator">:</span>
                <div class="time-block">
                    <span class="time-number" id="minutes">0</span>
                    <span class="time-label">MIN</span>
                </div>
                <span class="time-separator">:</span>
                <div class="time-block">
                    <span class="time-number" id="seconds">0</span>
                    <span class="time-label">SEC</span>
                </div>
            </div>
            <p class="countdown-text" id="countdown-text">은솔 ♥️ 민의 결혼식이 남았습니다.</p>
        </div>
    </div>
    <div class="section s4">
        <p class="title">Wedding Information</p><br><br>
        <span class="text">2025년 11월 8일 토요일 오후 1시<br>정동제일교회 본관 2층 예배당</span>
    </div>
    <div class="section s5">
        <div class="gallery">
            <h2 class="title">Gallery</h2><br>
            <div class="gallery-container">
                <div class="gallery-item" onclick="showImagePreview(0)">
                    <img src="/img/background.png" alt="Image 1">
                </div>
                <div class="gallery-item" onclick="showImagePreview(1)">
                    <img src="/img/123.png" alt="Image 2">
                </div>
                <div class="gallery-item" onclick="showImagePreview(2)">
                    <img src="/img/images.jpeg" alt="Image 3">
                </div>
            </div>
        </div>
    </div>
    <div class="section s6">
        <div class="location-section">
            <h2 class="title">Location</h2><br><br>
            <div id="map" class="map-container"></div>
            <a href="https://naver.me/x7nc6nQx" target="_blank">
                <div class="map-link">
                    네이버지도로 보기
                </div>
            </a>
            <div class="location-details">
                <p>🧭 <strong>주소</strong><br>
                    서울시 중구 정동길 46</p>
                <p>🚊 <strong>지하철 이용시</strong><br>
                    1,2호선 시청역 10번 출구, 5호선 서대문역 5번 출구</p>
                <p>🚘 <strong>주차 안내</strong><br>
                    배재?화? 빌딩 주차장</p>
            </div>
        </div>
    </div>
    <div class="section s7">
        <div class="title">마음 전하실 곳</div><br><br>
        <div class="expansion-tile1">
            <div class="expansion-header" onclick="toggleExpansion('groom')">
                <span>신랑 측</span>
                <span class="arrow"><img src="/img/icons/arrow.png" alt="Arrow" height="20" width="20"></span>
            </div>
            <div id="groom-content" class="expansion-content"></div>
        </div>

        <div class="expansion-tile2">
            <div class="expansion-header" onclick="toggleExpansion('bride')">
                <span>신부 측</span>
                <span class="arrow"><img src="/img/icons/arrow.png" alt="Arrow" height="20" width="20"></span>
            </div>
            <div id="bride-content" class="expansion-content"></div>
        </div>
    </div>
    <div class="s8">
        <h1 class="title">Guest Book</h1><br><br>
        <div class="form-container">
            <input type="text" id="name" class="text" placeholder="이름" maxlength="10"
                style="font-family: 'GangWonLight';"><br>
            <textarea id="detail" class="text" placeholder="축하메시지" maxlength="90"
                style="font-family: 'GangWonLight';"></textarea><br>
            <input type="password" id="password" class="text" placeholder="비밀번호" maxlength="20"
                style="font-family: 'GangWonLight';"><br>
            <button id="submitButton" class="text">축하메시지 남기기</button>
        </div>
        <div id="guestbookEntries" class="guestbook-entries">
        </div>
        <div id="loadMoreContainer" class="load-more-container">
            <button id="loadMoreButton" class="text">더보기</button>
            <button id="showAllButton" class="text">전체보기</button>
        </div>
    </div>
    <div class="s9">
        <button onclick="shareKakaoLink()">
            <img src="/img/kakao.png" alt="Share via Kakao" />
        </button>
        <span class="divider">|</span>
        <button onclick="copyLink()">
            <img src="/img/share.png" alt="Copy Link" />
        </button>
    </div>
    <div class="s10">
        <p class="makerHidden">MINCARD</p>
        <p class="maker">MINCARD</p>
        <p class="makerHidden">MINCARD</p>
    </div>

    <!-- photo Dialog -->
    <div id="imagePreviewModal" class="modal" onclick="closeImagePreview()">
        <div class="modal-content">
            <div id="modalImageContainer" class="modal-image-container">
                <img id="modalImage" src="" alt="Preview">
                <div class="modal-controls">
                    <button id="prevButton" onclick="event.stopPropagation(); changeImage(-1)">&#10094;</button>
                    <button id="nextButton" onclick="event.stopPropagation(); changeImage(1)">&#10095;</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Dialog -->
    <div id="deleteDialog" class="dialog hidden">
        <div class="dialog-content">
            <span class="close-btn" onclick="closeDialog('deleteDialog')">
                <img th:src="@{/img/icons/delete.png}" height="24" width="24">
            </span>
            <div class="dialog-field">
                <p class="text">비밀번호</p>
                <input class="text" type="password" id="deletePassword">
            </div>
            <button onclick="confirmDelete()" class="text">삭제하기</button>
        </div>
    </div>

    <!-- Edit Dialog -->
    <div id="editDialog" class="dialog hidden">
        <div class="dialog-content">
            <span class="close-btn" onclick="closeDialog('editDialog')">
                <img th:src="@{/img/icons/delete.png}" height="24" width="24">
            </span>
            <div class="dialog-field">
                <label class="text" for="editName">작성자</label>
                <input class="text" type="text" id="editName">
            </div>
            <div class="dialog-field">
                <label class="text" for="editDetail">내용</label>
                <textarea class="text" id="editDetail"></textarea>
            </div>
            <div class="dialog-field">
                <label class="text" for="editPassword">비밀번호</label>
                <input class="text" type="password" id="editPassword">
            </div>
            <button onclick="confirmEdit()" class="text">수정하기</button>
        </div>
    </div>


    <!-- Custom Dialog -->
    <div id="customDialog" class="dialog hidden">
        <div class="dialog-content">
            <p id="customMessage"></p>
            <button onclick="confirmCustomDialog()" class="text">닫기</button>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2il4t9ay84"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script th:src="@{/js/spinner.js}"></script>
<script th:src="@{/js/index.js}"></script>

</html>