* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GangWonLight';
    src: url('/font/GangWon/GangWonMoDooLight.otf') format('opentype'),
         url('/font/GangWon/GangWonMoDooLight.ttf') format('truetype'),
         url('/font/GangWon/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'GangWonBold';
    src: url('/font/GangWon/GangWonMoDooBold.otf') format('opentype'),
         url('/font/GangWon/GangWonMoDooBold.ttf') format('truetype'),
         url('/font/GangWon/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 600;
}

body {
    font-family: 'GangWonLight';
}

.bold-text {
    font-family: 'GangwonEdu_OTFBoldA';
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 2;
}

.container.fade-out {
    opacity: 0;
    transform: translateY(-100%);
}

.container.show {
    opacity: 1;
    transform: translateY(0);
}

.overlay-content {
    position: relative;
    width: 600px;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 600px;
    height: 100%;
    background-image: url('/img/1234.JPG');
    background-size: cover;
    background-position: center;
    transform: translateX(-50%);
    z-index: 1;
}

.header, .footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 20px;
}

.footer {
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
}

.text-large {
    font-size: 24px;
    color: white;
}

.section2, .section-3, .section-4 {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #333;
}

.section2 {
    position: relative;
    z-index: 1;
}
