@font-face {
    font-family: 'GangWonLight';
    src: url('/font/GangWon/GangWonMoDooLight.otf') format('opentype'),
        url('/font/GangWon/GangWonMoDooLight.ttf') format('truetype'),
        url('/font/GangWon/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'GangWonBold';
    src: url('/font/GangWon/GangWonMoDooBold.otf') format('opentype'),
        url('/font/GangWon/GangWonMoDooBold.ttf') format('truetype'),
        url('/font/GangWon/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GangWonLight';
}

body {
    font-family: 'GangWonLight';
    user-select: none;
}

.text {
    font-size: 20px;
}

.bold-text {
    font-family: 'GangWonBold';
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 2;
}

.container.fade-out {
    opacity: 0;
    transform: translateY(-100%);
}

.container.show {
    opacity: 1;
    transform: translateY(0);
}

.overlay-content {
    position: relative;
    width: 600px;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 600px;
    height: 100%;
    background-image: url('/img/1234.JPG');
    background-size: cover;
    background-position: center;
    transform: translateX(-50%);
    z-index: 1;
}

.header,
.footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 30px;
}

.footer {
    padding-bottom: 40px;
    justify-content: center;
    flex-direction: column;
}

.text-large {
    font-size: 22px;
    color: white;
}

.text-large {
    font-size: 26px;
    color: white;
}

.s2 {
    position: relative;
    z-index: 1;
    font-size: 20px;
}

.section {
    max-width: 600px;
    text-align: center;
    padding: 30px 20px 150px 20px;
    margin: 0 auto;
}

.s4 {
    font-size: 20px;
}

.title {
    color: #61c5fa;
    font-family: 'GangWonBold';
    font-size: 26px;
}

.quote {
    width: 15px;
    vertical-align: middle;
}

.separator {
    margin: 20px 0;
}

.countdown-title {
    color: #61c5fa;
    font-size: 26px;
    font-family: 'GangWonBold';
    margin-bottom: 24px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-block {
    width: 60px;
    height: 80px;
    background-color: #E7E9ED;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.time-number {
    font-size: 20px;
    color: #333;
}

.time-label {
    font-size: 16px;
    color: #AFB3BC;
}

.time-separator {
    font-size: 20px;
    line-height: 80px;
    color: #333;
}

.countdown-text {
    font-size: 20px;
    margin-top: 20px;
}

.countdown-text-bold {
    font-weight: bold;
    color: red;
}

.highlight {
    color: red;
    font-weight: bold;
}

.gallery-container {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 16px auto;
    overflow-x: auto;
}

.gallery-item {
    margin: 0 8px;
}

.gallery-item img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 600px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.modal-image-container img {
    max-width: 100%;
    height: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.modal-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.map-container {
    width: 100%;
    height: 300px;
}

.map-link {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #F4F5F8;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-bottom: 24px;
    font-size: 20px;
}

.location-details {
    text-align: left;
}

.location-details p {
    margin: 10px 0;
    font-size: 20px;
    line-height: 1.5;
}

.expansion-tile1 {
    background-color: #F4F5F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.expansion-tile2 {
    background-color: #F4F5F8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.expansion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #F4F5F8;
}

.arrow {
    font-size: 16px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.expansion-header.expanded .arrow {
    transform: rotate(180deg);
}

.expansion-content {
    text-align: left;
    padding: 25px;
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    display: none;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #ffffff;
    position: relative;
}

.contact-info-content {
    flex: 1;
}

.contact-buttons {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.contact-buttons a {
    display: inline-block;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.payment-options {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.payment-option {
    flex: 1;
    padding: 12px 16px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
}

.s8 {
    background-color: #F4F5F8;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "GangWongLight"
}

textarea {
    height: 100px;
    resize: none;
    font-family: "GangWongLight"
}

input {
    font-family: "GangWongLight"
}

input::placeholder {
    font-family: "GangWongLight";
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.guestbook-entries {
    margin-top: 20px;
}

.guestbook-entry {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #ffffff;
}

.guestbook-entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guestbook-entry-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.guestbook-entry p {
    text-align: left;
}

.guestbook-entry-actions {
    display: flex;
}

.guestbook-entry-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ff5722;
    padding: 8px;
}

.load-more-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.load-more-container button {
    font-family: "GangWonLight";
    background-color: #F4F5F8;
    border: solid 1px #9DA0A7;
    color: #000000;
}


.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog-content {
    background: #fff;
    padding: 50px 20px 20px 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    position: relative;
}

.dialog-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dialog label {
    display: block;
    text-align: left;
}

.dialog input,
.dialog textarea {
    font-family: 'GangWonLight';
    width: calc(100% - 80px);
    border-radius: 5px;
    border: 1px solid #ddd;
}

.dialog textarea {
    height: 60px;
}

.dialog button {
    font-family: 'GangWonLight';
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #61c5fa;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}


.s9 {
    width: 100%;
    height: 60px;
    background-color: #C4C9D3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.s9 img {
    width: 24px;
    height: 24px;
}

.s9 button {
    background-color: #C4C9D3;
    border: none;
    cursor: pointer;
}

.divider {
    color: #E7E9ED;
}

.s10 {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
}

.makerHidden {
    font-size: 20px;
    font-family: 'GangWonBold';
}