* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GangWonLight';
    src: url('/font/GangWon/GangWonMoDooLight.otf') format('opentype'),
         url('/font/GangWon/GangWonMoDooLight.ttf') format('truetype'),
         url('/font/GangWon/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'GangWonBold';
    src: url('/font/GangWon/GangWonMoDooBold.otf') format('opentype'),
         url('/font/GangWon/GangWonMoDooBold.ttf') format('truetype'),
         url('/font/GangWon/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 600;
}

body {
    font-family: 'GangWonLight';
}

.bold-text {
    font-family: 'GangWonBold';
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 2;
}

.container.fade-out {
    opacity: 0;
    transform: translateY(-100%);
}

.container.show {
    opacity: 1;
    transform: translateY(0);
}

.overlay-content {
    position: relative;
    width: 600px;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 600px;
    height: 100%;
    background-image: url('/img/1234.JPG');
    background-size: contain;
    background-position: center;
    transform: translateX(-50%);
    z-index: 1;
}

.header, .footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 20px;
}

.footer {
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
}

.text-large {
    font-size: 26px;
    color: white;
}

.section2 {
    position: relative;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    padding: 30px 0 150px 0;
    }

.invitation {
    color: #61c5fa;
    font-family: 'GangWonBold';
    font-size: 26px;
}

.quote {
    width: 15px;
    vertical-align: middle;
}

.separator {
    margin: 20px 0;
}

.section3 {
    padding: 16px;
    text-align: center;
    font-family: 'GangWonLight';
    padding-bottom:150px;
}

.countdown-container {
    max-width: 600px;
    margin: 0 auto;
}

.countdown-title {
    color: #61c5fa;
    font-size: 26px;
    font-family: 'GangWonBold';
    margin-bottom: 24px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-block {
    width: 60px;
    height: 80px;
    background-color: #e0e0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.time-number {
    font-size: 20px;
    color: #333;
}

.time-label {
    font-size: 16px;
    color: #666;
}

.time-separator {
    font-size: 20px;
    line-height: 80px;
    color: #333;
}

.countdown-text {
    font-size: 20px;
    margin-top: 20px;
}

.countdown-text-bold {
    font-weight: bold;
    color: red;
}

.highlight {
    color: red;
    font-weight: bold;
}
